Repository eclipse/xtext-umbrella, pull requests merged in 2019-09, with the labels that each got.

#161 [releng] Set version to 2.20.0
  releng/org.eclipse.emf.mwe2.language.sdk.dummy/pom.xml
  releng/org.eclipse.xtend.sdk.feature/feature.xml
  releng/org.eclipse.xtend.sdk.feature/pom.xml
  releng/org.eclipse.xtext.docs.feature/feature.xml
  releng/org.eclipse.xtext.docs.feature/pom.xml
  releng/org.eclipse.xtext.examples.feature/feature.xml
  releng/org.eclipse.xtext.examples.feature/pom.xml
  releng/org.eclipse.xtext.redist.feature/feature.xml
  releng/org.eclipse.xtext.redist.feature/pom.xml
  releng/org.eclipse.xtext.releng.simrel.tests/META-INF/MANIFEST.MF
  releng/org.eclipse.xtext.releng.simrel.tests/pom.xml
  releng/org.eclipse.xtext.runtime.feature/feature.xml
  releng/org.eclipse.xtext.runtime.feature/pom.xml
  releng/org.eclipse.xtext.sdk.feature/feature.xml
  releng/org.eclipse.xtext.sdk.feature/pom.xml
  releng/org.eclipse.xtext.sdk.p2-repository/category.xml
  releng/org.eclipse.xtext.sdk.p2-repository/pom.xml
  releng/org.eclipse.xtext.sdk.parent/pom.xml
  releng/org.eclipse.xtext.sdk.target/pom.xml
  releng/org.eclipse.xtext.ui.feature/feature.xml
  releng/org.eclipse.xtext.ui.feature/pom.xml
  releng/org.eclipse.xtext.xbase.feature/feature.xml
  releng/org.eclipse.xtext.xbase.feature/pom.xml
  releng/org.eclipse.xtext.xtext.ui.feature/feature.xml
  releng/org.eclipse.xtext.xtext.ui.feature/pom.xml
  releng/org.eclipse.xtext.xtext.ui.graph.feature/feature.xml
  releng/org.eclipse.xtext.xtext.ui.graph.feature/pom.xml
  releng/pom.xml
Labels: releng

#160 [eclipse/xtext#1520] update to gradle 5.6.1
  releng/gradle-composite/gradle/wrapper/gradle-wrapper.properties
  releng/gradle-composite/gradlew
Labels: releng

#162 [https://github.com/eclipse/xtext/issues/1486]
  releng/org.eclipse.xtext.sdk.feature/feature.xml
Labels: enhancement

#163 [https://github.com/eclipse/xtext/issues/1486]
  releng/org.eclipse.xtext.sdk.feature/feature.xml
Labels: restructuring

#164 fixed settings.xml config in Jenkinsfile
  Jenkinsfile
  releng/jenkins/cleanup-project-storage/Jenkinsfile
Labels: releng
